/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: rgb(180, 260, 70);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --tl: 0.6s;
  --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
  --item1-filter: blur(30px);
  --item1-zIndex: 11;
  --item1-opacity: 0;

  --item2-transform: translateX(0);
  --item2-filter: blur(0px);
  --item2-zIndex: 10;
  --item2-opacity: 1;

  --item3-transform: translate(50%,10%) scale(0.8);
  --item3-filter: blur(10px);
  --item3-zIndex: 9;
  --item3-opacity: 1;

  --item4-transform: translate(90%,20%) scale(0.5);
  --item4-filter: blur(30px);
  --item4-zIndex: 8;
  --item4-opacity: 1;
    
  --item5-transform: translate(120%,30%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-zIndex: 7;
  --item5-opacity: 0;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /*margin: var(--header-height) 0 0 0;*/
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  background-image: url(../src/assets/img/section-wrapper-bg.jpg);
}

#root{
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img{
  width: 100%;
  height: 250px;
}
/*=============== LAYOUT ===============*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Estilos generales */
.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: linear-gradient(45deg, #0c0131, #37e16a);
  min-height: 100vh;
  color: #333;
}

.app-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

/* Estilos para la lista de películas */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Contenedor de la tarjeta de película */
.movie-card {
  width: 400px; /* Ancho fijo para las tarjetas */
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  cursor: pointer;
  margin: 15px;
}

/* Efecto de zoom y sombra al pasar el ratón */
.movie-card:hover {
  transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

/* Estilo de la imagen de la película */
.movie-image {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 300px; /* Altura fija */
  object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
  border-bottom: 3px solid #f1f1f1; /* Línea separadora entre la imagen y el texto */
  transition: transform 0.3s ease; /* Transición para el efecto hover */
}

/* Efecto de zoom en la imagen */
.movie-card:hover .movie-image {
  transform: scale(1.1); /* Escala la imagen al pasar el ratón */
}

/* Estilos para el título y género */
.movie-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Estilo para el texto de género */
.movie-card p {
  font-size: 1rem;
  color: #777;
  text-align: center;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: hsla(244, 16%, 92%, 0.6);     
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  backdrop-filter: blur(20px);
  color: var(--title-color);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}

.footer a { color: inherit; }

.footer-top {
  padding-block: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-top .logo { margin-bottom: 20px; display: flex; align-items: center;}

.footer-top .logo img{
  width: 50px; 
  border-radius: 50%;
  margin-right: 20px;
}

.footer-top .logo h3{
  color: var(--title-color);
}

.footer-text {
  font-size: var(--fs-6);
  line-height: 1.8;
}

.footer-list { font-family: var(--ff-nunito); }

.footer-list:not(:last-of-type) { width: 50%; }

.footer-list:last-of-type {
  width: 100%;
  column-count: 2;
}



.footer-list-title {
  color: var(--title-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 800;
}

.footer-link {
  font-size: var(--fs-6);
  padding-block: 6px;
}

.footer-link:is(:hover, :focus) { color: var(--carolina-blue); }

.footer-list:last-child > li:first-child { column-span: all; }

.footer-bottom {
  background: var(--body-color);
  border: 1px solid #fff;
  border-radius: 18px 18px 0 0;
  padding: 20px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-link { font-size: 20px; }

.social-link ion-icon { --ionicon-stroke-width: 40px; }

.social-link:is(:hover, :focus) { color: var(--carolina-blue); }

.copyright { font-size: var(--fs-6); }

.copyright > a { display: inline-block; }

.copyright > a:is(:hover, :focus) { color: var(--carolina-blue); }

@media (min-width: 768px){

  /**
   * FOOTER
   */

   .footer-brand { width: 100%; }

   .footer-text { max-width: 400px; }
 
   .footer-bottom {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     align-items: center;
     padding-block: 30px;
     box-shadow: var(--shadow-1);
     
   }
 
   .social-list { margin-bottom: 0; }
}

@media (min-width: 992px) {
  /**
   * FOOTER
   */

   .footer-list:not(:last-of-type) { width: 25%; }

   .footer-list:last-of-type { width: 50%; }
}

@media screen and (min-width: 1200px){
  /**
   * FOOTER
   */

   .footer-brand { width: 33.33%; }

   .footer-text { max-width: 45ch; }
 
   .footer-list:not(:last-of-type) { width: 16.66%; }
 
   .footer-list:last-of-type { width: 33.33%; }
}

